.App {
  text-align: center;
}

.App-add {
  margin-top: 10px;
  background-color: #e0b0ff;
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;

  /* make the button round */
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-weight: bold;
  border-radius: 50%;
}
